/* This is the font for the brand name */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* This is the fint for the slogan */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
/* This is for the buttons and links */
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');
/* This font is for the information given as about the company */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* This font is for the paragraph as per recommended by instructor */
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
:root{
    --green:rgb(30 ,215 ,96);
    --black:rgb(25,20,20);
}

main{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.first-block{
grid-row-start: 1;
grid-row-end: 2;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 40% 20% 40%;
align-items: center;
width: 100vw;
/* height: 600px; */
}
.div-1-img{
    width: 100vw;
    height: 830px;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    z-index: 1;
}
.main-heading{
    z-index: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: Pacifico;
    color: white;
    font-size: 10vw;
    text-align: center;
    text-shadow: .070em .070em gray;
}
.main-slogan{
    z-index: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: Agbalumo;
    color: white;
    font-size: 4vw;
    text-align: center;
}
.main-button{
    z-index: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    border: .1em white solid;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-left: 2em;
    margin-right: 2em;
    text-decoration: none;
    font-family: norican;
    background-color: var(--green);
    color: white;
    word-spacing: .8em;
    letter-spacing: .4em;
    font-weight: 700;
}
.main-button:hover{
    color: var(--green);
    background-color: var(--black);
    border-color: var(--green);
    border-radius: 10%;
}
.second-block{
    grid-row-start: 2;
    grid-row-end: 3;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* text-align: center; */
    align-items: center;
    align-self:center;
    /* background-color: aliceblue; */
}
.second-block-image{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-self: center;
}
.second-block-image img{
    grid-column-start: 1;
    grid-column-end: 2;
    width: 480px;
    height: 360px;
    object-fit: cover;
    grid-row-start: 2;
    grid-row-end: 4;
}
.second-block-content{
    display: grid;
    grid-template-rows: .3fr,repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    /* height: 540px; */
}
.second-block-heading{
    font-family: Agbalumo;
    grid-column-start:1 ;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end: 2;
    font-size: 3em;
    color: white;

}
.about-us{
    font-family: 'Handlee';
    grid-column-start:1 ;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end: 3;
    padding-left: 8%;
    padding-right: 8%;
    word-spacing: .5em;
    letter-spacing: .2em;
    font-size: 1.4em;
    color: var(--green);
}
.bullets{
    grid-column-start:1 ;
    grid-column-end: 4;
    grid-row-start:3;
    grid-row-end: 4;
    padding-right: 5em;
    padding-top: 3em;
}
.bullet-points{
    font-family: 'Handlee';
    list-style: none;
    font-size: 1.4em;
    color: var(--green);
}
.bullet-points span{
    font-weight: 800;
color: white;
font-family: 'Agbalumo';
}
