/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main post container */
.post {
    max-width: 500px;
    margin: auto;
    border: 1px solid #ddd;
    padding: 10px;
}

/* Header section */
.header {
    display: flex;
    align-items: center;
}

.user-icon, .verified-icon {
    width: 25px;
    margin-left: 10px;
}

.username {
    font-weight: bold;
}

.timestamp {
    margin-left: auto;
}

.options {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transform: rotate(90deg); /* Rotate the three dots vertically */
}

/* Main image */
.main-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
    
}

/* Like and comment buttons */
.actions button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-right: 10px;
}

/* Like button */
.likes {
    background: none;
    border: none;
    width: 25px;
    align-items: center;
    position: sticky;
    left: 70rem;
}
#likes_text{
    margin-left: 2em;
    margin-top: -1em;
    

}